language: java
jdk:
  - openjdk9
  - openjdk10
  - openjdk11
cache:
  directories:
  - $HOME/.m2
after_success:
  - mvn deploy -Dmaven.test.skip -DcreateDocs=true -s settings.xml
  - mvn jacoco:report coveralls:jacoco -DsourceEncoding=UTF-8


